{% extends 'mainsite/base.html' %}
{% block content %}


<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Company Name</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
                    <p style="text-align: center"> Login using your socail accounts</p>
                    <div class="row">
                        <div class="col-md-6 col-sx-6">
<a class="btn btn-primary btn-block social-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i></a></div>
 <div class="col-md-6 col-sx-6">
<a class="btn btn-primary btn-block social-twitter" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
</div></div>
                        <div class="row" style="margin-top: 5px;">
 <div class="col-md-6  col-sx-6">
<a class="btn btn-primary btn-block social-linkedin" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a></div>
 <div class="col-md-6 col-sx-6">
                        <a class="btn btn-primary btn-block social-google" href="/auth/google"><i class="fa fa-google-plus"></i></a></div>
</div>
 <p style="text-align: center;margin:0;margin-top:10px">or your own occount</p>
					<form class="form-horizontal" method="post" action="{% url 'login'%}">{% csrf_token %}

                        <div class="form-group"
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<input type="submit" value="Sign in" class="btn btn-primary btn-lg btn-block login-button"></input>
						</div>
						<div class="login-register">
				            <a href="create_account.php">Create account</a> or <a href="{% url 'reset_password_reset' %}">reset password</a>
				         </div>
					</form>
				</div>
			</div>



<div>
 <h1>authentication demo</h1>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>


{% if form.errors %}
<script>
$.notify({
	// options
	message: 'Wrong Username/Password'
},{
	// settings
	type: 'danger'
});
</script>

{% endif %}

<script type="text/javascript">
   window.onload = function(e) {
       if (window.location.hash == '#_=_') {
           window.location = '/';
       }
   }
</script>
{% endblock content %}
