{% extends "mainsite/base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Password Reset</h1>
	               		<hr />
	               	</div>
	            </div>
                <div class="main-login main-center">
                    <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
                   <form class="form-horizontal" method="post" >{% csrf_token %}
						<div class="form-group">
                           <label for="id_new_password1"  class="cols-sm-2 control-label">New password:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="id_new_passoword1" id="id_new_passoword1"  placeholder="Enter your new password"/>
								</div>
							</div>
                              <label for="id_new_password2"  class="cols-sm-2 control-label">Confirm password:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="id_new_passoword2" id="id_new_passoword2"  placeholder="Enter your new password"/>
								</div>
							</div>




                         {{ form.new_password1.errors }}


                            {{ form.new_password2.errors }}


                    <input type="submit"  class="btn btn-primary btn-lg btn-block login-button" value="Change my password" /></td>

                </div>
                       </form>


</div>
{% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}

<script>
	var password = document.getElementById("id_new_passoword1")
  , confirm_password = document.getElementById("id_new_passoword2");


function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;


</script>

{% endblock %}


